{% extends "layout.html" %}
{% block content %}
<div class="row">
    {% if not datas%}
    <h4 class="card-title">The user has no posts</h4>
    {% endif %}
    {% for post in datas %}

    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <img class="card-img-top" src="{{post.images.standard_resolution.url}}" alt="">
            <div class="card-body">
                <h4 class="card-title">{{post.user.full_name}}</h4>
                <p class="card-text">Number of Likes: {{post.likes.count}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}